<!doctype html>
<html th:with="tabTitle='Accueil'" lang="fr">

<head th:replace="~{_fragments/layout :: head(${tabTitle})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styles.css" />
</head>

<!-- Charte graphique personnalisée Hackompote -->
<th:block th:replace="~{_fragments/style :: charte}"></th:block>

<body>

<!-- -->
<!-- En-tête de page - barre de navigation -->
<!-- -->
<header th:replace="~{_fragments/layout :: header }"></header>

<!-- -->
<!-- Contenu de la page -->
<!-- -->

<main class="d-flex justify-content-center flex-column py-5"
      style="min-height: calc(100vh - 56px - 80px);">

    <!-- Barre de recherche -->
    <div class="d-flex justify-content-center px-4 mb-5">
        <div class="input-group" style="max-width: 800px;">
            <input type="search" class="form-control" placeholder="Rechercher...">
            <button type="submit" class="btn btn-primary">
                <i class="bi-search"></i>
            </button>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center align-items-center px-4">
        <div class="card w-100 p-4 card shadow-sm rounded-4 mb-5" style="max-width: 800px;">
            <div class="row gap-3">

                <div class="col-5 align-content-center">
                    <div class="" style="height: 100%; background-color: #fff; border-radius: 1rem;"></div>
                </div>

                <div class="col align-content-center">
                    <h1>Nom Évènement</h1>
                    <h2>Lieu</h2>
                    <h3 class="mb-5">Date</h3>
                    <h3>x participants</h3>
                </div>

            </div>
        </div>
    </div>

</main>

<!-- -->
<!-- Pied de page -->
<!-- -->
<footer th:replace="~{_fragments/layout :: footer}"> </footer>

<!-- Scripts définis dans le layout -->
<th:block th:replace="~{_fragments/layout :: bottom-scripts}"></th:block>

</body>

</html>