<!DOCTYPE html>
<html th:with="tabTitle='Accueil'" lang="fr">
<head th:replace="~{_fragments/layout :: head(${tabTitle})}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<!-- Charte graphique personnalisée Hackompote -->
<th:block th:replace="~{_fragments/style :: charte}"></th:block>

<body>

<!-- -->
<!-- En-tête de page - barre de navigation -->
<!-- -->
<header th:replace="~{_fragments/layout :: header }"></header>

<!-- -->
<!-- Contenu de la page -->
<!-- -->

<main style="min-height: calc(100vh - 56px - 80px);">
  <div class="row justify-content-center m-0">

    <div class="col-7 p-4" style="min-width: 300px;">
      <div class="card shadow-sm rounded-4 p-4">
        <h1 th:text="${Equipe.nomEquipe}" class="row fw-bold mb-2"></h1>
        <h2 th:text="${MentorEquipe.prenom}" class="mb-1"></h2>
        <h2 th:text="${MentorEquipe.nom}" class="mb-5"></h2>
        <h3>Liste des membres</h3>
        <div th:each="utilisateur : ${ListeUtilisateurEquipe}" class="d-flex flex-column gap-2">
          <div th:text="${utilisateur.pseudo}"></div>
        </div>
      </div>
    </div>

    <div class="col p-4" style="min-width: 300px;">
      <div class="card shadow-sm rounded-4 p-4">

        <!-- Barre de recherche -->
        <div class="input-group mb-5">
          <input type="search" class="form-control" placeholder="Rechercher...">
          <button type="submit" class="btn btn-primary">
            <i class="bi-search"></i>
          </button>
        </div>

<!--         Ligne pseudo + bouton-->
        <div th:each="utilisateur : ${ListeUtilisateurSansEquipe}" class="row mx-1 align-items-center">
          <div class="col">
            <h3 th:text="${utilisateur.pseudo}"></h3>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary rounded-3 mb-3 px-3">+</button>
          </div>
        </div>

      </div>
    </div>


  </div>
</main>

<!-- -->
<!-- Pied de page -->
<!-- -->
<footer th:replace="~{_fragments/layout :: footer}"> </footer>

<!-- Scripts définis dans le layout -->
<th:block th:replace="~{_fragments/layout :: bottom-scripts}"></th:block>

</body>
</html>